@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 18px 20px;
}

header .nav-menu {
  display: flex;
}

header .nav-menu li {
  font-size: 20px;
  padding: 0 10px;
}

header .nav-menu a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 40px;
  padding: 10px 20px;
}

.container-comics {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 15px;
}

.container-comics .card-comic {
  width: 300px;
  text-align: center;
  margin: 10px auto;
}

.container-comics .card-comic .comic-thumb {
  width: 300px;
}

.container-comics a:hover {
  text-decoration: underline;
}

.container-comics .highlited-text {
  font-size: 20px;
}

.card-single-comic {
  display: flex;
  padding: 40px;
  flex-wrap: nowrap;
}

.card-single-comic .comic-thumb {
  width: 270px;
  flex-shrink: 0;
}

.card-single-comic .comic-description {
  width: 450px;
  font-size: 16px;
  padding: 0 8px;
}

.card-single-comic .highlited-text {
  font-size: 18px;
}

.add-bg-image {
  background-color: grey;
}

.add-bg-image h1 {
  font-size: 35px;
  padding: 12px 50px;
  text-transform: uppercase;
}

.add-bg-image .input-box {
  display: flex;
  padding: 0 30px;
}

.add-bg-image .input-box .input {
  padding: 10px 10px;
}

.add-bg-image .input-box .input input {
  padding: 8px;
  font-size: 16px;
}

.add-bg-image .input-box .input textarea {
  padding: 8px;
  width: 400px;
}

.add-bg-image button {
  margin: 0 40px 10px;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
}

