h1{
  font-size: 40px;
  padding: 10px 20px;
}

.container-comics{
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 15px;

  .card-comic{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    .comic-thumb{
      width: 300px;
    }
  }
  
  a:hover{
    text-decoration: underline;
  }

  .highlited-text{
    font-size: 20px;
  }
}

